<section class="" id="contact" >
  <div class="footer has-text-darkgrey has-background-mediumgrey">
    <div class="columns has-text-centered">
      <div class="column">
        <div class="content">
          <p>address</p>
          <p>hours</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <p>services</p>
          <p>apps</p>
          <p>branding</p>
          <p>websites</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <p>address</p>
          <p>hours</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <p>Facebook</p>
          <p>LinkedIn</p>
          <p>Instagram</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomfoot full-width has-text-centered has-text-lightgrey has-background-darkgrey">
    <p>&copy; Copyright 2018 Scanned Media | Creative Firm</p>
  </div>
</section>