  <div class="footer has-text-darkgrey has-background-mediumgrey">
    <div class="level has-text-left has-text-centered-mobile">
     {% for item in site.foot %} 
      <div class="level-item is-offset-2">
        <div>
          <h5 class="subtitle has-text-weight-bold is-marginless">{{item.title}}</h5>
          {% if item.is-social %}
            <p class="has-text-dark-grey is-size-5">
              {% for icon in item.icons %}
                <a class="has-text-grey-dark" href="{{icon.url}}"><i class="fab fa-{{icon.icon}}"></i></a>
              {% endfor %}
            </p>
          {% else %}
            {% for paragraph in item.items %}
             <p>{{ paragraph }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <!-- <div class="level-item">
        <div >
          <h5 class="subtitle has-text-weight-bold is-marginless">Contact</h5>
          <p>M-F 9am to 5pm</p>
          <p>509.720.7833</p>
          <p>info@scannedmedia.com</p>
        </div>
      </div>
      <div class="level-item">
        <div>
          <h5 class="subtitle has-text-weight-bold is-marginless">Services</h5>
          <p>Apps</p>
          <p>Branding</p>
          <p>Web</p>
        </div>
      </div>
      <div class="level-item">
        <div>
          <h5 class="social subtitle has-text-weight-bold is-marginless">Social</h5>
          <p class="has-text-dark-grey is-size-5">
            <a class="has-text-grey-dark" href="#"><i class="fab fa-facebook"></i></a>
            <a class="has-text-grey-dark" href="#"><i class="fab fa-instagram"></i></a>
            <a class="has-text-grey-dark" href="#"><i class="fab fa-linkedin"></i></a>
            <a class="has-text-grey-dark" href="#"><i class="fab fa-google-plus-square"></i></a>
          </p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="bottomfoot full-width has-text-centered has-text-lightgrey has-background-darkgrey">
    <p>&copy; Copyright 2018 Scanned Media | Creative Firm</p>
  </div>