  <div class="footer has-text-darkgrey has-background-mediumgrey">
    <div class="columns has-text-centered">
      <div class="column">
        <div class="content">
          <h5>Contact</h5>
          <p>400 S Jefferson St #408,<br> Spokane, WA 99204</p>
          <p>509.720.7833</p>
          <p>M-F 9am to 5pm</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h5>Services</h5>
          <p>apps</p>
          <p>branding</p>
          <p>websites</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h5>Social</h5>
          <p>Facebook</p>
          <p>Instagram</p>
          <p>LinkedIn</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomfoot full-width has-text-centered has-text-lightgrey has-background-darkgrey">
    <p>&copy; Copyright 2018 Scanned Media | Creative Firm</p>
  </div>