<section class="hero is-fullheight" id="contact" >
  <div class="hero-body is-fullwidth" style="background: url(https://images.unsplash.com/photo-1496902526517-c0f2cb8fdb6a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a8623f526569e949b73c4c7360d4532&auto=format&fit=crop&w=1350&q=80) center / cover; background-attachment: fixed;">
    <div class="columns is-multiline is-centered" style="width:100%;">
      <div class="column is-6 field">
        <span><h3 class="has-text-weight-bold is-size-2-desktop is-size-2-tablet is-size-3-mobile has-text-centered">Ready to get started?</h3></span>
        <form class="columns is-multiline" method="POST" action="https://formspree.io/jeremy@scannedmedia.com">
          <div class="column is-half contact-left">
            <input class="input" type="fname" name="fname" placeholder="{{site.contact.name}}" required>
            <input class="input" type="phone" name="phone" placeholder="{{site.contact.phone}}" required>
            <input class="input" type="email" name="email" placeholder="{{site.contact.email}}" required>
            <input class="input" type="companyname" name="companyname" placeholder="{{site.contact.org}}" required>
          </div>

          <div class="column is-half contact-right">
            <input class="input" type="website" name="website" placeholder="{{site.contact.website}}" required>
            <div class="control">
              <div class="select is-fullwidth">
                <select required>
                  <option value=" " disabled selected hidden>Services</option>
                  {% for option in site.contact.services%}
                  <option value="{{forloop.index}}">{{option}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <textarea class="input" name="message" placeholder="{{site.contact.message}}" style="height:92px;"></textarea>
            <button class="button is-link is-fullwidth" type="submit" style="margin:10px;">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% include basic-footer.html %}
</section>