<section class="hero is-fullheight" id="contact" >
  <div class="hero-body is-fullwidth" style="background: url({{site.contact.bg-image}}) center / cover; background-attachment: fixed;">
    <div class="columns is-multiline is-centered" style="width:100%; margin-left: 0px">
      <div class="column is-6 field">
        <span><h3 class="has-text-weight-bold is-size-2-desktop is-size-2-tablet is-size-3-mobile has-text-centered">{{site.contact.title}}</h3></span>
        <form class="columns is-multiline" method="POST" action="https://formspree.io/info@scannedmedia.com">
          <input type="hidden" name="_subject" value="{{site.contact.title}}" />
          <div class="column is-half contact-left">
            <input class="input" type="fname" name="fname" placeholder="{{site.contact.name}}" required>
            <input class="input" type="phone" name="phone" placeholder="{{site.contact.phone}}" required>
            <input class="input" type="email" name="email" placeholder="{{site.contact.email}}" required>
            <input class="input" type="companyname" name="companyname" placeholder="{{site.contact.org}}" required>
          </div>

          <div class="column is-half contact-right">
            <input class="input" type="website" name="website" placeholder="{{site.contact.website}}" required>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="service" required>
                  <option value="" disabled selected hidden>Services</option>
                    {% for option in site.contact.services %}
                      <option value="{{forloop.index}}">{{option}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <textarea class="input" name="message" placeholder="{{site.contact.message}}" style="height:92px;"></textarea>
            <button class="button is-link is-fullwidth" type="submit" style="margin:10px;">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% include basic-footer.html %}
</section>