<!-- <div class="columns is-mobile is-marginless heading has-text-weight-bold has-background-white is-fullwidth">
  <div class="column left">
    <figure class="navbar-item image">
      <a href="/"><img src="{{site.logo}}"></a>
    </figure>
  </div>
  <div class="column right">
    {% for item in site.menu %}
    <p class="navbar-item has-text-black desktop"><a href="{{ item.url | relative_url }}">{{item.title}}</a></p>
    {% endfor %}
    <p class="navbar-item has-text-black desktop">LOGIN</p>
    <figure class="navbar-item image has-text-black center" data-show="quickview" data-target="quickviewDefault">
      <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
    </figure>
  </div>

  
</div> -->

<nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="{{site.logo}}" alt="ScannedMedia logo" style="min-width: 12rem;">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end is-uppercase is-size-6">
            {% for item in site.menu %}
            <div class="navbar-item has-text-black"><a href="{{ item.url | relative_url }}">{{item.title}}</a></div>
            {% endfor %}
            <div class="navbar-item has-text-black">login</div>
        </div>
      </div>
  </nav>