<nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="{{site.logo}}" alt="ScannedMedia logo" style="min-width: 12rem;">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end is-uppercase is-size-6">
            {% for item in site.menu %}
            <div class="navbar-item"><a href="{{ item.url | relative_url }}">{{item.title}}</a></div>
            {% endfor %}
            <div class="navbar-item"><a href="app.scannedmedia.com">login</a></div>
        </div>
      </div>
  </nav>