<div id="quickviewDefault" class="quickview">
  <header class="quickview-header">
    <figure class="image center">
      <img class="quick-logo" src="{{site.logo}}" alt="Scanned Media logo">
    </figure>
    <span class="delete" data-dismiss="quickview"></span>
  </header>

  <div class="quickview-body">
    <div class="quickview-block">
      <aside class="menu">
        <p class="menu-label">
          Site
        </p>
        <ul class="menu-list">
          <li><a>About</a></li>
          <li><a>Work</a></li>
        </ul>
        <p class="menu-label">
          Blog
        </p>
        <ul class="menu-list">
          <li><a class="is-active">{{posts[0].title}}</a></li>
          <li><a>{{posts[1].title}}</a></li>
          <li><a>{{posts[2].title}}</a></li>
          <li><a>{{posts[3].title}}</a></li>
        </ul>
        <p class="menu-label">
          Member Login
        </p>
        <ul class="menu-list">
          <li> <a>Login To Your App</a> </li>
        </ul>
      </aside>
    </div>
  </div>

  <footer class="quickview-footer">
    <div class="columns is-mobile has-text-centered">
      <div class="column">
        <a href="">fa</a>
      </div>
      <div class="column">
        <a href="">fa</a>
      </div>
      <div class="column">
        <a href="">fa</a>
      </div>
      <div class="column">
        <a href="">fa</a>
      </div>
    </div>
  </footer>
</div>