<!-- Jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/muuri@0.6.3/dist/muuri.min.js"></script> <!-- sorting -->
  <!-- Ani JS http://anijs.github.io/ -->
  <!--  BG Animation  -->
  <script src="/assets/scripts/bganimation.js"></script>
  <script src="/assets/scripts/bulma-carousel.js"></script>
  <script src="/assets/scripts/bulma-quickview.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js"></script>
  <!-- Animo JS http://animejs.com/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
  <script src="/assets/scripts/index.js"></script>