---
---

//@import 'bulma-carousel.css';
//@import 'bulma-carousel';
@import 'helpers';
//@import 'rotating.css';
@import 'color-overrides';
@import 'bulma-quickview';
//@import 'bulma';

#bganimation {
  position:absolute;
  z-index:-1;
  width: 100%;
  height:100%;
}
body {
  overflow: hidden;
}
.navbar-brand, .navbar-burger {
  min-height: 5rem;
  min-width: 5rem;
}
// Cover Styles
.mobile-title-overlay {
  background: rgba(255,255,255,.7)
}
.header-line-height {
  line-height: 3.3vw;
}
.heading-sect {
  padding: 5vw 0px 0px 5vw;
  margin-top: 15%;
}
.is-paddingless-hori {
  padding-left: 0px;
  padding-right: 0px;
}
.p-pos {
  margin:3vw 5vw 0px 0vw;
}
.full-width-des {
  font-size: 5.7vw;
  color: #26A089;
}
.full-width-for {
  font-size: 5.1vw;
  color: #EC008C;
}
.full-width-bus {
  font-size: 4.6vw;
  color: #47BEAA;
}

.quickview-body {
  padding:15px;
}

.columns {
  width:100%;
}
.quick-logo {
  width:85% !important;
  margin:15px;
}
#services .hero-body {
  padding-top:0px;
  padding-bottom: 0px;
  margin-right:0px;
}
.appCont, .brandCont, .webCont, .carousel-cont {
  font-weight:600;
}

.carousel {
  padding:30px;
}
.testimonials .carousel-content {
  width: 100%;
}
// stifyconise sits slightly larger than a mobile screen

.testimonials .columns article {
  margin-bottom: 0px;
  padding:0;
}

.work-item {
  position: relative;
}
.work-item:after {
  content: " ";
  display: block;
  padding-bottom: 50%;
}
#work .work-child {
  position: absolute;
  width: 100%;
  height: 100%;
}
.work-child + a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0px;
  background-color: rgba(100,100,100,0);
  color: rgba(255,255,255,0);
  transition: background-color 1s ease;
  transition: color 1s ease;
}
.work-child:hover + a {
  display: flex;
  height: 100%;
  width: 100%;
  padding:25px;
  background-color: rgba(100,100,100,.7);
  color: rgba(255,255,255,1);
}
.work-child + a:hover {
  display: flex;
  height: 100%;
  width: 100%;
  padding:25px;
  background-color: rgba(100,100,100,.7);
  color: rgba(255,255,255,1);
}
#work .column{
  flex:none;
  width: 50%;
  padding: 0px;
}
// #work .column:nth-child(1),#work .column:nth-child(2){
//   flex:none;
//   width:50%;
// }

.column-size-is-6, .column-size-is-12, .column-size-is-header {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.column-size-is-6:after {
  content: " ";
  display: block;
  padding-bottom: 100%;
}
.column-size-is-12:after {
  content: " ";
  display: block;
  padding-bottom: 50%;
}
.column-size-is-6-double, .column-size-is-12-double {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.column-size-is-12-double:after {
  content: " ";
  display: block;
  padding-bottom: 200%;
}
.column-size-is-6-double:after {
  content: " ";
  display: block;
  padding-bottom: 200%;
}
.is-header {
  flex: none;
  width: 100%;
}
.column-size-is-header:after {
  content: " ";
  display: block;
  padding-bottom: 50%;
}
.column-content{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-body-content {
  width: 100%;
  height: 100%;
  padding: 15%;
  text-shadow: 2px 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-numbers {
  font-weight:900; 
  font-size:20rem; 
  text-decoration:underline;
}

#apps .conlumn-content {
  flex-direction:column;
}

.i-img {
  width:30px;
}

#posts {
  padding-top:45px;
  padding-bottom:65px;
}

.posts .column:nth-child(1) {
  flex:none;
  width:100%;
}
.posts .column:nth-child(2) {
  flex:none;
  width:100%;
}
.posts .column:nth-child(3), .posts .column:nth-child(4), .posts .column:nth-child(5) {
  flex: none;
  width: 33.33333%;
}

.featured-content {
  position:relative;
  width:100%;
  height:100%;
}
.featured-content div {
  position:absolute;
  bottom: 0px;
  width:100%;
}
.blog-images {
  //background-size: 100% auto;
  //background-repeat: no-repeat;
 // background-attachment: fixed;
  // accidental parralax effect. Neat.
  // background-attachment: fixed;
  background-position: center;
}
.blog-posts {
  padding:25px;
  background: rgba(255,255,255,.7);
}
.blog-head-img {
  background-size: 100% auto;
}
.grid {
	display: grid;
	grid-template-columns:
		[xl-start] 1fr 1.5rem [md-start] minmax(0, 800px) [md-end] 1.5rem 1fr [xl-end];
}

.grid *  { grid-column: md; }
.grid-xl { grid-column: xl; }

// makes blog images full width
// makes em tags following an image tag act as a caption
img + em {
  display: block;
  text-align: center;
}
p img {
  width: 100%;
}


.box {
  margin: 25px;
}

.footer {
  padding: 15px;
}

.bottomfoot {
  padding: 15px
}
.title {
  margin-top: 50px;
}

.carousel-nav- {
  display: flex;
  justify-content: center;
}

#contact .input {
  margin: 10px;
}
#contact .select {
  margin: 10px;
}
select { 
  color: grey;
}
select:invalid {
  color: lightgrey !important;
}
select:valid { 
  color: black;
}
#contact .hero-body span {
  margin-left: 22px;
  display: block;
  background-color: rgba(255,255,255,.6);
  padding: 11px 0px;
}
#contact .footer span {
  padding: 4px;
  font-size: .75rem; 
  background-color: rgba(80,80,80,1) ;
  border-radius: 100%;
  color: #717375;
}
#contact .footer span svg {
  margin-left: 2px;
  padding: 1px 0px;
}
.mobile {
  display:none;
}

.tile {
  border-radius:0px;
}

@media (max-width: 1024px) { // Tablet
  .desktop {
		display: none;
  }
  .mobile {
  display:block;
  }
  .cover {
	background: black url('assets/img/Optimized-Working-2.png') center / cover;
  }
  .fullwidth{
    width:100%;
  }
  .testimonials .box {
    margin: .25rem;
  }
  .posts .column:nth-child(1), .posts .column:nth-child(2), .posts .column:nth-child(3), .posts .column:nth-child(4), .posts .column:nth-child(5) {
  flex:none;
  width:100%;
  }
  .big-numbers {
    font-size:15rem; 
  }

  // Navbar Styles and Animation
  .navbar-menu.is-active {
    display: block;
    height: 180px;
  }
  .navbar-menu {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0px;
    transition: height .25s ease;
  }
  // End Navbar
}
@media (max-width:  768px) { // Mobile
   // Cover

   .mobile-title-overlay {
    background: rgba(255,255,255,.7);
    height: 100%;
  }
  .header-line-height {
    margin-top: 75px !important;
  }

  // End Cover
  .tablet {
		display: none;
	}
  .contact-left{
    padding-bottom:0px;
  }
  .contact-right{
    padding-top:0px;
  }
  .cover {
	  background: black url('assets/img/Optimized-Working-3.png') center / cover;
  }
  .carousel {
  padding:15px;
  }
  .blog-head-img {
  background-size: auto 100%;
  }
  #work a {
    background-color: rgba(100,100,100,.7);
    color: rgba(255,255,255,1);
  }
  #work .column{
    flex:none;
    width:100%;
  }
  .column-body-content {
    padding:5%;
    background-color: rgba(255,255,255,.6);
  }
  #work .column:nth-child(1),#work .column:nth-child(2){
    flex:none;
    width:100%;
  }
  .column-size-is-12:after {
    padding-bottom: 100%;
  }
  .column-size-is-header:after {
    padding-bottom: 50%;
  }
  .big-numbers {
    font-size:10rem; 
  }
  .i-img {
    width:20px;
  }
  // Cover Styles
  .header-line-height {
    line-height: 10vw;
  }
  .heading-sect {
    padding: 5vw 0px 5px 5vw;
    margin: 0px;
  }
  .p-pos {
    margin:3vw 5vw 0px 0vw;
  }
  .full-width-des {
    font-size: 20vw;
    color: #26A089;
  }
  .full-width-for {
    font-size: 17.42vw;
    color: #EC008C;
  }
  .full-width-bus {
    font-size: 20vw;
    color: #47BEAA;
  }
}
@media (max-width:  420px) { // mini mobile
  .p-pos {
    margin:3vw 5vw 0px 0vw;
  }
}