<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <!--  Navigation  -->
    {% include header.html %}

  <section class="hero is-large" style="background: black url('https://images.unsplash.com/photo-1519146440399-f4b73933177f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f97338a2a735f3f1386c03cef3c1318a&auto=format&fit=crop&w=1867&q=80') center / cover; background-attachment: fixed;">

  <!-- .hero-head -->
  <div class="hero-head">

  </div> <!-- /.hero-head -->
  <header class="hero-body">
    <div class="has-text-centered">
  <!-- 		<h2 class="subtitle is-4 has-text-weight-light has-text-white">Tesla</h2> -->
      <h1 class="title is-1 has-text-white">Read a bit about what <br> we've been up to recently.</h1>
    </div>
  </header>  <!-- /Hero Body   -->
  </section>
  <section class="section is-paddingless-horizontal has-background-lightgrey" id="posts">
    {% include blog.html %}
  </section>
  <!--   Footer   -->
  
  {% include footer.html %}

  <!-- Scripts -->
  {% include scripts.html %}
  
</body>
</html>