<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  
  <!--  Navigation  -->
  {% include header.html %}

  <!-- Cover
  images are sources randomly from unsplash collection
  https://unsplash.com/collections/1943687/small-business  
  -->
  <div class="columns is-marginless" style="width:100vw; height:100vh; background-image: url(https://source.unsplash.com/collection/2709290/1920x1080); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
      <div class="column is-6 tablet "></div>
      <div class="column is-4 mobile-title-overlay heading-sect">
        <div class="is-uppercase has-text-weight-bold is-marginless is-paddingless header-line-height">
          <div class="full-width-des">designed</div>
          <div class="full-width-for">for small</div>
          <div class="full-width-bus">businesses</div>
        </div>
        <div class="has-text-justified is-size-6 is-size-7-mobile">
          
         <div class="p-pos content">
           <p>From the moment you open your business until the end of your day, you work hard to provide customers with quality and value. When you focus on your customers, you want to find the most effectiv eways to connect and interact with them.</p>
           <p>Our Approach to mobile and online marketing provides the tools to boost your business above the competition with apps, branding, and websites.</p> 
           <p>It’s no secret that small businesses are the backbone of the our economy. Any edge you can  gain to stay in the ring with your heavy weight competitors is very crucial. The advantage to partnering with ScannedMedia is working with a talented and local team.</p> 
         </div>        
        </div>
      </div>
      <div class="column is-2 tablet"></div>
    </div>
    <!-- /.hero -->
    <section class="section is-paddingless-hori" id="services">
      <div class="has-text-centered is-size-3 has-text-weight-bold">
        <h3>Our Services</h3>
      </div>
      <article>
        <div class="container">
          <div class="columns is-multiline">
            {% for service in page.services %}
              <div class="column">
                <div class="columns is-mobile">
                  <div class="column is-4">
                    <img src="{{service.image}}" alt="">
                  </div>
                  <div class="column is-8">
                    <h4 class="has-text-weight-bold subtitle is-marginless">
                      {{service.title}}
                    </h4>
                    <div class="content">
                      {{service.text}}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </article>
    </section>

    <section class="hero" id="work">
        <div class="columns is-multiline is-marginless work-parent">
          {% assign portfolio = site.work | reverse %}
          {% for set in portfolio limit:6 %}
            <div class="column">
              <a href="{{set.url}}">
                <div class="work-item">
                    <div class="work-child" style="background:url({{set.head-image}}) center / cover; padding:0px;">
                    </div>
                    <div class="is-overlay">
                      <div class="has-text-centered">
                        <p class="has-text-weight-bold is-size-3">{{set.title}}</p>
                        <p class="">{{set.subtitle}}</p> 
                      </div>
                    </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>

    <section class="section is-paddingless-hori has-background-lightgrey" id="posts">
      <div class="has-text-centered is-size-3 has-text-weight-bold">
        <h3>Our Latest Blog Posts</h3>
      </div>
      {% include blog.html %}
    </section>

    <section class="section testimonials has-background-grey-dark">
      <div class="container">
      <div class="columns is-mobile">
        <div class="column is-1 is-offset-2-desktop desktop carousel-nav- is-size-2 has-text-white is-narrow-mobile">
          <div class="carousel-navigation">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
        </div>
        <article class="column is-half-desktop fullwidth" style="background:url(/uploads/testimonial-qleft.svg) no-repeat; background-size: 50% 50%; background-position: left top;">
          <div class="carousel fullwidth carousel-animated carousel-animate-slide" data-autoplay="true" data-delay="4000" style="background:url(/uploads/testimonial-qright.svg) no-repeat; background-size: 50% 50%; background-position: right bottom;">
          <div class="carousel-container fullwidth is-size-3 is-size-6-mobile has-text-weight-bold has-text-centered">
            <div class="carousel-content carousel-animate carousel-num-1 fullwidth">
              
              {% for review in page.testimonials %}
              <div class="carousel-item" >
                  <div class="has-text-white" >
                      {{review.quote}}
                    <p class="has-text-centered is-size-5 is-size-7-mobile has-text-weight-light">{{review.person}} | {{review.company}}</p>
                  </div> <!-- End Content -->
              </div> <!-- End Carousel-Item -->
              {% endfor %}

            </div><!-- End Carousel-Content -->    
          </div><!-- End Carousel container -->
          </div><!-- End Carousel -->
        </article>
        <div class="column is-1 carousel-nav- is-size-2  desktop has-text-white is-narrow-mobile">
          <div class="carousel-navigation">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div> 
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column mobile"></div>
        <div class="column is-narrow mobile is-size-3 has-text-white">
          <div class="carousel-navigation carousel-navigation-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </div>
        </div>
        <div class="column is-narrow mobile is-size-3 has-text-white">
          <div class="carousel-navigation carousel-navigation-right">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </div> 
        </div>
        <div class="column mobile"></div>
      </div>
      </div>
    </section>

  <!--   Footer   -->
  
  {% include footer.html %}

  <!-- Scripts -->
  {% include scripts.html %}
  
</body>
</html>