<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <!--  Navigation  -->
    {% include header.html %}
<!-- 
    adding container contrains the size of the boxes better
    Maybe add my own container sizing for different media queries.
-->
    <div class="hero container section" id="works">
      <div class="tile is-ancestor">
        <div class="tile is-parent is-12" style="background: url(http://via.placeholder.com/1920x1080) center / cover; width:100%; height:500px;">
          <div class="tile is-child">
            <h1>yo</h1>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent is-12 has-background-primary" style="justify-content:center; align-items:center;">
          <div class="tile is-child has-text-centered is-6 " style="padding-bottom:150px; padding-top:50px;">
            <h1 class="title">Cole Sager</h1>
            <h2 class="subtitle is-uppercase">branding + identity</h2>
            <p class="">Cole Sager is a personal trainer specializing in cross-fit and is ranked 5th nationally in cross-fit competition. Consulting with him personally we narrowed what he wanted to represent his branding. He wanted something simple, clean-cut, trustworthy, powerful, passionate and stated “something powerful yet graceful”. In the early stages of conceiving I felt an eagle represented those qualities well and showed him some thumbnails he loved. The color palette was chosen to exemplify these characteristics also, orange being powerful and passionate, and blue counter-acting to create balance with grace. There is subtle C and S within the logo, the c in the blue and the s in the white space having the “fire in the eye” completing it. Simple, clean-cut, powerful, graceful. I also took his signature and transcribed it in a hand-lettered style.</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-danger">
          <div class="tile is-child">
            <p class="title is-underlined" style="font-weight:900; font-size:20rem; text-decoration:underline;">01</p>
            <h3 class="has-font-weight-light is-size-1">LOGO</h3>
            <h4 class="subtitle is-capitalized is-size-3"> be the impact</h4>
          </div>
        </div>
        <div class="tile is-parent has-background-warning">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-visited">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
        <div class="tile is-parent has-background-link">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-grey">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-warning">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
        <div class="tile is-parent has-background-danger">
          <div class="tile is-child">
            <p class="title is-underlined" style="font-weight:900; font-size:20rem; text-decoration:underline;">02</p>
            <h3 class="has-font-weight-light is-size-1">FONT</h3>
            <h4 class="subtitle is-capitalized is-size-3"> logo and collateral</h4>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-visited">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
        <div class="tile is-parent has-background-link">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-danger">
          <div class="tile is-child">
            <p class="title is-underlined" style="font-weight:900; font-size:20rem; text-decoration:underline;">03</p>
            <h3 class="has-font-weight-light is-size-1">Collateral</h3>
            <h4 class="subtitle is-capitalized is-size-3"> additional material</h4>
          </div>
        </div>
        <div class="tile is-parent has-background-grey">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent has-background-grey-dark">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
        <div class="tile is-parent has-background-warning">
          <div class="tile is-child">
            <p class="title">logo variant</p>
          </div>
        </div>
      </div>
      
    </div>
    <!--   Footer   -->
    
    {% include footer.html %}

    <!-- Scripts -->
    {% include scripts.html %}
  </body>
</html>