<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <!--  Navigation  -->
    {% include header.html %}
    <div class="hero container section is-paddingless" id="works">
      <div class="columns is-multiline is-marginless is-paddingless">
        {% for item in page.columns %}
          {% if item.is-catagory %}
          <div class="column {{item.column-size}} is-marginless is-paddingless works">
            <div class="column-size-{{item.column-size}}" style="background-image:url({{item.image}}); background-color: {{item.color}};">
              <div class="column-content {{item.title}}">
                <div>
                  <p class="title is-underlined big-numbers is-marginless" style="color:{{item.text-color}};">
                  {{item.title}}</p>
                  <h3 class="has-font-weight-light is-size-1 is-marginless" style="color:{{item.text-color}};">
                  {{item.subtitle}}</h3>
                  <h4 class="subtitle is-capitalized is-size-3 is-size-4-mobile is-marginless" style="color:{{item.text-color}};">
                  {{item.para}}</h4>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="column {{item.column-size}} is-marginless is-paddingless works">
            <div class="column-size-{{item.column-size}}" style="background-image:url({{item.image}});">
              <div class="column-content">
                {% if item.is-body %}
                <div class="has-text-centered is-size-7 column-body-content">
                  <div class="content">
                    <h1 class="has-text-weight-bold is-size-2 is-uppercase is-marginless">{{page.title}}</h1>
                    <h2 class="has-text-weight-medium is-size-5 is-marginless">{{page.subtitle}}</h2><br>
                    {{content}}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="read-more has-text-right container has-text-weight-bold">
          <p style="padding:5px;">
            <a href="/work/">View More Work. . .</a>
          </p>
        </div>
    </div>
    <!--   Footer   -->
    
    {% include footer.html %}

    <!-- Scripts -->
    {% include scripts.html %}
  </body>
</html>